#menu_navbar {
    background-color: #209ef7 !important;
}
#pesquisar_id{
    background-color: whitesmoke;
}
#buscar_id{
    background-color: whitesmoke !important;
    border-color: whitesmoke !important;
    color: gray !important;
}