#geral_id{
    background-color: whitesmoke;
    border-radius: 12px;
}
hr{
    background-color: whitesmoke;
    width : 20px;
    margin: 0 auto;
    margin-top: 20px;
}
#primeirohr_id{
    height: 20px;
}
